<link rel="stylesheet" href="/css/style.css">

<h2>Solicitações</h2>

{{#if records.length}}
  <ul>
    {{#each records}}
      <li>
        <a href="/records/request/{{this.id}}">
          {{this.id}} - {{this.assunto}} - Pesquisador(a): {{this.researcher.nome}}
        </a>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>Nenhuma solicitação cadastrada.</p>
{{/if}}

<p><a href="/">Voltar</a></p>
