<link rel="stylesheet" href="/css/style.css">

<h2>Detalhe da Solicitação</h2>

{{#if record}}
  <p><strong>ID:</strong> {{record.id}}</p>
  <p><strong>Nome:</strong> {{record.nome}}</p>
  <p><strong>Assunto:</strong> {{record.assunto}}</p>
  <p><strong>Descrição:</strong> {{record.descricao}}</p>
  <p><strong>Data:</strong> {{record.data}}</p>

  <p>
  <a href="/records/request/{{record.id}}/edit" class="btn-secondary">
    Editar Solicitação
  </a>
</p>
{{else}}
  <p>Registro não encontrado.</p>
{{/if}}

<br> <hr> <br>
<p><a href="/records/request" class="btn-secondary">Voltar</a></p>
