<link rel="stylesheet" href="/css/style.css">

{{#if error}}
  <div class="error" style="color: red; margin-bottom: 15px;">
    {{error}}
  </div>
{{/if}}


<h2>Cadastro de Pesquisadores</h2>
<form action="/researchers" method="post">
  <label>Nome:</label>
  <input type="text" name="nome" required value="{{oldData.nome}}">
  <br><br>

  <label>Email:</label>
  <input type="email" name="email" required value="{{oldData.email}}">
  <br><br>

  <label>Data de nascimento:</label>
  <input type="date" name="data_nascimento" required value="{{oldData.data_nascimento}}">
  <br><br>

  <label>Telefone:</label>
  <input type="text" name="telefone" required value="{{oldData.telefone}}">
  <br><br>

  <label>Cidade:</label>
  <input type="text" name="cidade" required value="{{oldData.cidade}}">
  <br><br>

  <label>País:</label> 
  <input type="text" name="pais" required value="{{oldData.pais}}">
  <br><br>

  <label>Área de Atuação: </label>
  <input type="text" name="area_atuacao" required value="{{oldData.area_atuacao}}">
  <br><br>


  <button type="submit">Salvar</button>
</form>

<br> <hr> <br>
<a href="/" class="btn-secondary">Voltar</a>
