<link rel="stylesheet" href="/css/style.css">

<h2>Detalhe do Cadastro de Pesquisador</h2>

{{#if record}}
  {{#if record.avatarUrl}}
    <img src="{{record.avatarUrl}}" alt="Avatar de {{record.nome}}" style="width:160px;height:160px;object-fit:cover;border-radius:50%;margin-bottom:1rem;">
  {{else}}
    <div style="width:160px;height:160px;background:#ddd;border-radius:50%;display:flex;align-items:center;justify-content:center;margin-bottom:1rem;margin-left: auto; margin-right: auto;">
      Sem foto
    </div>
  {{/if}}
  <p><strong>ID:</strong> {{record.id}}</p>
  <p><strong>Nome:</strong> {{record.nome}}</p>
  <p><strong>Email:</strong> {{record.email}}</p>
  <p><strong>Telefone:</strong> {{record.telefone}}</p>
  <p><strong>Cidade:</strong> {{record.cidade}}</p>
  <p><strong>País:</strong> {{record.pais}}</p>
  <p><strong>Área de Atuação:</strong> {{record.area_atuacao}}</p>
  <p><strong>Data de Nascimento:</strong> {{record.data_nascimento}}</p>
  
  <h3>Solicitações deste pesquisador :</h3>

  {{#if requests.length}}
    <ul>
      {{#each requests}}
        <li>
          <a href="/records/request/{{this.id}}">
            {{this.id}} - {{this.assunto}} - {{this.data}}
          </a>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>Nenhuma solicitação cadastrada para este pesquisador.</p>
  {{/if}}

  <br> <br>

  <p><a href="/researchers/{{record.id}}/requests/new">Nova solicitação para este pesquisador</a></p>
  <p><a href="/researchers/{{record.id}}/edit" class="btn-secondary">Editar Pesquisador</a></p>

  <form action="/researchers/{{record.id}}/delete" method="post">
    <button type="submit" class="btn-danger" onclick="return confirm('Deseja excluir esse(a) pesquisador(a)?')"> Excluir</button>
  </form>
{{else}}
  <p>Registro não encontrado.</p>
{{/if}}
<p><a href="/researchers" class="btn-secondary">Voltar</a></p>
