<link rel="stylesheet" href="/css/style.css">

<h2>Operação realizada com sucesso</h2>

<p>{{mensagem}}</p>
<p>Tipo de registro: {{tipo}}</p>
<p>ID gerado no banco: {{id}}</p>

{{#if isResearcher}}
  <p><a href="/researchers/{{id}}">Ver este registro</a></p>
{{else if tipo}}
  <p><a href="/records/{{tipo}}/{{id}}">Ver este registro</a></p>
{{/if}}

<br> <hr> <br>

<p><a href="/">Voltar para a página inicial</a></p>